{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column position-relative" style="width: 150px;">
         {% if user.imageName is defined and user.imageName is not empty %}
    <img src="{{ vich_uploader_asset(user, 'imageFile') }}"
         alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
         style="width: 150px; z-index: 1">
{% else %}
    <img src="{{ asset('IMG/defAvatar/default-avatar.png') }}" 
         alt="Default avatar" class="img-fluid img-thumbnail mt-4 mb-2"
         style="width: 150px; z-index: 1">
{% endif %}

                <a href="{{ path('app_profil_avatar')}}"  style="z-index: 1" class="position-absolute top-100 start-100"><i class="fa-solid fa-plus"></i></a>
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark text-body" data-mdb-ripple-color="dark" style="z-index: 1;">
                Edit profile
              </button>
              
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ user.firstName }} {{ user.lastName }}</h5>
              <p>New York</p>
              
            </div>
          </div>
          <div class="p-4 text-black bg-body-tertiary">
            <div class="d-flex justify-content-end text-center py-1 text-body">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <button type="button" class="fw-bold fs-5 btn" data-bs-toggle="modal" data-bs-target="#scrollableModal">
  {{ user.getFollowersCount() }}
  <p class="small text-muted fs-6">Followers</p>
</button>
<!-- Modal Followers -->
<div class="modal fade" id="scrollableModal" tabindex="-1" aria-labelledby="scrollableModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scrollableModalLabel">Followers de {{ user.firstName }} {{ user.lastName }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Liste des followers -->
        <ul class="list-group">
          {% for follower in user.followers %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                {% if follower.follower.imageName is defined and follower.follower.imageName is not empty %}
    <img src="{{ vich_uploader_asset(follower.follower, 'imageFile') }}"
         alt="Generic placeholder image" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% else %}
    <img src="{{ asset('IMG/defAvatar/default-avatar.png') }}" 
         alt="Default avatar" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% endif %}
                <div>
                  <h6 class="mb-0">{{ follower.follower.firstName }}  {{ follower.follower.lastName }}</h6>
                   <small class="text-muted ms-5">{{ follower.follower.email }}</small> 
                </div>
              </div>
               <a href="{{ path('app_messages_between', {id:  follower.follower.id}) }}">
                <i class="fas fa-paper-plane fs-5"></i>
              </a>
            </li>
          {% else %}
            <li class="list-group-item">Aucun follower pour le moment</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

              </div>
              <div>
             <!-- Button trigger modal -->
<button type="button" class="fw-bold fs-5 btn" data-bs-toggle="modal" data-bs-target="#followingModal">
  {{ user.getFollowingCount() }}
  <p class="small text-muted fs-6">Following</p>
</button>

<!-- Following Modal -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followingModalLabel">Following de {{ user.firstName }} {{ user.lastName }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Liste des personnes suivies -->
        <ul class="list-group">
          {% for following in user.following %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
               {% if following.followed.imageName is defined and following.followed.imageName is not empty %}
    <img src="{{ vich_uploader_asset(following.followed, 'imageFile') }}"
         alt="Generic placeholder image" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% else %}
    <img src="{{ asset('IMG/defAvatar/default-avatar.png') }}" 
         alt="Default avatar" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% endif %}
                <div>
                  <h6 class="mb-0">{{ following.followed.firstName }} {{ following.followed.lastName }}</h6>
                  <small class="text-muted ms-5">{{ following.followed.email }}</small>
                </div>
              </div>
              <a href="{{ path('app_messages_between', {id: following.followed.id}) }}">
                <i class="fas fa-paper-plane fs-5"></i>
              </a>
            </li>
          {% else %}
            <li class="list-group-item">Vous ne suivez personne pour le moment</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5 text-body">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4 bg-body-tertiary">
                <p class="font-italic mb-1">Web Developer</p>
                <p class="font-italic mb-1">Lives in New York</p>
                <p class="font-italic mb-0">Photographer</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4 text-body">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
