{% extends 'base.html.twig' %}
{% block body %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if app.request.method == 'POST' %}
                {% if users|length == 0 %}
                    <div class="text-center">
                        <h4 class="mb-4">Aucun résultat pour votre recherche.</h4>
                    </div>
                {% else %}
                    <h5 class="mb-4 text-center">Résultats de recherche</h5>
                    {% for user in users %}
                    <a href="{{ path('app_user', {id: user.id}) }}" class="text-decoration-none">
                        <div class="card mb-2 border border-1">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                                                                    {% if user.imageName is defined and user.imageName is not empty %}
    <img src="{{ vich_uploader_asset(user, 'imageFile') }}"
         alt="Generic placeholder image" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% else %}
    <img src="{{ asset('IMG/defAvatar/default-avatar.png') }}" 
         alt="Default avatar" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% endif %}
                                    <div>
                                        <h6 class="mb-1">{{ user.firstName }} {{ user.lastName }}</h6>
                                        {# <p class="text-muted mb-0">{{ user.occupation }}</p> #}
                                    </div>
                                </div>
                                <div class="ms-3 mb-3">
                                 <small class="text-muted ms-5"> About </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</a>
{% endblock %}