{% extends 'base.html.twig' %}
{% import 'macro/toast_macro.html.twig' as toasts %}

{% block title %}Hello FeedController!{% endblock %}

{% block body %}

<section class="body container mb-5">
    <div class="mt-5 d-flex row justify-content-center">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <button type="button" class="form-control border-end-1 border-start-1 rounded-5 d-flex justify-content-between" placeholder="Quoi de neuf, {{ app.user.firstName }} ?" aria-label=">Quoi de neuf,  " aria-describedby="createPostToggle" data-bs-toggle="collapse" data-bs-target="#createPostForm" aria-expanded="false" aria-controls="createPostForm" style="cursor: pointer;">
                <span class="input-group-text bg-white border-0 fs-5 ms-2" id="createPostToggle" style="cursor: pointer;">Quoi de neuf, {{ app.user.firstName }} ?<i class="iconPen fas fa-pencil-alt fs-4"></i></span></button>
            </div>
        </div>
    </div>

    <div class="collapse mt-3" id="createPostForm">
        <div class="create-post border rounded p-3 shadow-sm">
            {{ form_start(form) }}
                {{ form_widget(form.title, {'attr': {'placeholder': 'Titre', 'class': 'form-control mb-2'}}) }}
                {{ form_widget(form.Description, {'attr': {'placeholder': 'Exprimez-vous...', 'class': 'form-control mb-2'}}) }}
                {{ form_row(form.imageFile, {'attr': {'class': 'form-control mb-2'}}) }}
                <div class="d-flex justify-content-center">
                    <button class="btn nm-Button w-75" type="submit">Publier</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            {% for f in feeds %}
                <div class="card_s mt-5 border rounded shadow-sm">
                    <div class="card-header d-flex align-items-center">
                                  {% if f.author.imageName is defined and f.author.imageName is not empty %}
    <img src="{{ vich_uploader_asset(f.author, 'imageFile') }}"
         alt="Generic placeholder image" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% else %}
    <img src="{{ asset('IMG/defAvatar/default-avatar.png') }}" 
         alt="Default avatar" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% endif %}
                    
                        <div>
                            <h6 class="card-title mb-0">
                                <a href="{{ path('app_user', {id: f.author.id}) }}">{{ f.author.firstName }} {{ f.author.lastName }}</a>
                            </h6>
                            <small class="text-muted">Author</small>
                        </div>
                    </div>
                    <img src="{{ vich_uploader_asset(f, 'imageFile') }}" class="card-img-top" alt="{{ f.title }}">

                    <div class="card-body">
                        <h5 class="card-title">{{ f.title }}</h5>
                        <p class="card-text">{{ f.description }}</p>
                    </div>
                    <div class="card-footer">
                        <div>
                            {% set userLiked = false %}
                            {% for like in f.likes %}
                                {% if like.user.id == app.user.id %}
                                    {% set userLiked = true %}
                                {% endif %}
                            {% endfor %}
                            <div class='commentMessages mt-5'>
                                {% for message in app.flashes('success') %}
                                    {{ toasts.toast('success', message) }}
                                {% endfor %}
                            </div>
                            <a href="{{ path('app_feed_liked', {id: f.id}) }}" class="nm-Button-like {{ userLiked ? 'filled' : '' }} text-decoration-none">
                            <div class="likeContainer">
                                <i class="fas fa-heart ms-2"></i> 
                                {{ f.likes|length }}
                                </div>
                            </a>
                        </div>
                        <a href="#" class="btn fs-6" data-bs-toggle="modal" data-bs-target="#commentsModal-{{ f.id }}">
                            <i class="far fa-comment"></i> {{ f.commentss|length }} Commentaires
                        </a>
                        <a href="#" class="btn"><i class="far fa-share-square"></i> {{ f.shared }}</a>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="commentsModal-{{ f.id }}" tabindex="-1" aria-labelledby="commentsModalLabel-{{ f.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="commentsModalLabel-{{ f.id }}">Commentaires ({{ f.commentss|length }})</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Card content -->
                                <div class="card_s border rounded shadow-sm">
                                    <div class="card-header d-flex align-items-center">
                                        {% if f.author.imageName is defined and f.author.imageName is not empty %}
    <img src="{{ vich_uploader_asset(f.author, 'imageFile') }}"
         alt="Generic placeholder image" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% else %}
    <img src="{{ asset('IMG/defAvatar/default-avatar.png') }}" 
         alt="Default avatar" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% endif %}
                                        <div>
                                            <h6 class="card-title mb-0">
                                                <a href="{{ path('app_user', {id: f.author.id}) }}">{{ f.author.firstName }} {{ f.author.lastName }}</a>
                                            </h6>
                                            <small class="text-muted">Author</small>
                                        </div>
                                    </div>
                                    <img src="{{ vich_uploader_asset(f, 'imageFile') }}" class="card-img-top" alt="{{ f.title }}">

                                    <div class="card-body">
                                        <h5 class="card-title">{{ f.title }}</h5>
                                        <p class="card-text">{{ f.description }}</p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <div>
                                            {% set userLiked = false %}
                                            {% for like in f.likes %}
                                                {% if like.user.id == app.user.id %}
                                                    {% set userLiked = true %}
                                                {% endif %}
                                            {% endfor %}
                                           <a href="{{ path('app_feed_liked', {id: f.id}) }}" class="nm-Button-like {{ userLiked ? 'filled' : '' }} text-decoration-none">
                            <div class="likeContainer">
                                <i class="fas fa-heart ms-2"></i> 
                                {{ f.likes|length }}
                                </div>
                            </a>
                                        </div>
                                        <a href="#" class="btn fs-6">
                                            <i class="far fa-comment"></i> {{ f.commentss|length }} Commentaires
                                        </a>
                                        <a href="#" class="btn"><i class="far fa-share-square"></i> {{ f.shared }}</a>
                                    </div>
                                </div>

                                <!-- Liste des commentaires -->
                      <ul class="list-group mt-3 p-3">
                                    {% for comment in f.commentss %}
                                        <li class="list-group-item bg-body-secondary rounded-4">
                                            <div class="d-flex align-items-center">
                                                {% if comment.userCommented.imageName is defined and comment.userCommented.imageName is not empty %}
    <img src="{{ vich_uploader_asset(comment.userCommented, 'imageFile') }}"
         alt="Generic placeholder image" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% else %}
    <img src="{{ asset('IMG/defAvatar/default-avatar.png') }}" 
         alt="Default avatar" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% endif %}
                                                <div>
                                                    <h6 class="mb-0">{{ comment.userCommented.firstName }} {{ comment.userCommented.lastName }}</h6>
                                                    <small class="text-dark fw-normal">{{ comment.content }}</small>
                                                </div>
                                            </div>
                                        </li>
                                        <br>
                                    {% else %}
                                        <li class="list-group-item">Aucun commentaire pour le moment</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ path('app_feed_comment', {id: f.id}) }}" method="post" class="w-100">
                                    <div class="form-group">
                                        <textarea class="form-control" name="comment" placeholder="Ajouter un commentaire..." required></textarea>
                                    </div>
                                    <button type="submit" class="nm-Button mt-2">Commenter</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
