{% if app.user %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_feed') }}">
      <img src="{{ asset('IMG/LOGO.png') }}" alt="" height="36">
    </a>
    <div class="search-input d-flex align-items-center mx-auto">
      {{ render(controller('App\\Controller\\SearchController::searchBar', {'turbo': false})) }}
    </div>
    <div class="d-flex align-items-center justify-content-center flex-grow-1 fs-2 nav_custom">
      <ul class="navbar-nav icons_custom">
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_feed' %}active{% endif %}" href="{{ path('app_feed') }}">
            <i class="fas fa-house-user"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_users' %}active{% endif %}" href="#">
            <i class="fas fa-users"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_dashboard' %}active{% endif %}" href="#">
            <i class="fas fa-grip-horizontal"></i>
          </a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="user-picture.jpg" class="avatar rounded-circle me-1" alt="">
          {{ app.user.firstName }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" href="{{ path('app_profil') }}"><i class="fas fa-user-circle me-2"></i>Profil</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i>Paramètres</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt me-2"></i>Déconnexion</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endif %}
