{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 card">
            <h4 class="mt-2 ms-3">Messagerie</h4>
            <ul class="list-group mt-3">
                {% for contact in app.user.followers %}
                    <a href="{{ path('app_messages_between', {id: contact.follower.id}) }}" class="text-decoration-none mt-2">
                        <li class="list-group-item mb-2 border-1 bg-body-secondary">
                                                                  {% if contact.follower.imageName is defined and contact.follower.imageName is not empty %}
    <img src="{{ vich_uploader_asset(contact.follower, 'imageFile') }}"
         alt="Generic placeholder image" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% else %}
    <img src="{{ asset('IMG/defAvatar/default-avatar.png') }}" 
         alt="Default avatar" class="rounded-circle me-3"
         style="width:40px; height: 40px;">
{% endif %}
                            {{ contact.follower.firstName }} {{ contact.follower.lastName }}
                        </li>
                    </a>
                {% else %}
                    <li class="list-group-item">Aucun contact</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="ms-3">{{ otherUser.firstName }} {{ otherUser.lastName }}</h5>
                </div>
                <div class="card-body chat-box" id="chatBox">
                    {% if messages|length == 0 %}
                        <div class="text-center text-muted py-5">
                            <i class="fas fa-comments fa-3x mb-3"></i>
                            <p>Aucun message pour l'instant</p>
                        </div>
                    {% else %}
                        {% for message in messages %}
                            <div class="message {% if message.sender == app.user %}sent{% else %}received{% endif %}">
                                <div class="message-content text-dark">
                                    {{ message.content }}
                                </div>
                                <div class="message-timestamp">
                                    {{ message.sentAt|date('H:i') }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-footer bg-body-secondary mt-1">
                    {{ form_start(form, {'attr': {'class': 'w-100',}}) }}
                        <div class="input-group gap-1">
                            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Aa'}}) }}
                            <div class="messageicon_border rounded-circle">
                                <button class="btn " type="submit"><i class="fas fa-paper-plane fs-5 iconMessage"></i></button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}