{% extends 'base.html.twig' %}
{% import 'macro/toast_macro.html.twig' as toasts %}
{% block title %}Profil Utilisateur{% endblock %}
{% block body %}
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              <div class="btn-group gap-1" role="group" aria-label="Basic example">
                {# <a href="{{ path('app_message_new', {'recipientId': following.followed.id}) }}" class="text-primary" class="btn btn-outline-primary btn-sm">Message</a> #}
                {% if isFollowing %}
                    <a href="{{ path('app_unfollow_user', {'id': userFinded.id}) }}" class="btn btn-sm btn-danger">Unfollow</a>
                {% else %}
                    <a href="{{ path('app_follow_user', {'id': userFinded.id}) }}" class="btn btn-sm" style="background-color:#a0e66a; border:1px solid black;">Follow</a>
                {% endif %}
              </div>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ userFinded.firstName }} {{ userFinded.lastName }}</h5>
              <p>New York</p>
            </div>
          </div>
          <div class="p-4 text-black bg-body-tertiary">
            <div class="d-flex justify-content-end text-center py-1 text-body">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
<!-- Button trigger modal -->
<button type="button" class="fw-bold fs-5 btn" data-bs-toggle="modal" data-bs-target="#scrollableModal">
  {{ userFinded.getFollowersCount() }}
  <p class="small text-muted fs-6">Followers</p>
</button>

<!-- Modal -->
<div class="modal fade" id="scrollableModal" tabindex="-1" aria-labelledby="scrollableModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
  
        <h5 class="modal-title" id="scrollableModalLabel">Followers de {{ userFinded.firstName }} {{ userFinded.lastName }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Liste des followers -->
        <ul class="list-group">
           {% for follow in userFinded.followers %}
            <li class="list-group-item">
              <div class="d-flex align-items-center">
                <img src="https://via.placeholder.com/50" class="rounded-circle me-3" alt="Avatar">
                <div>
                  <h6 class="mb-0">{{ follow.follower.firstName }} {{ follow.follower.lastName }}</h6>
                  <small class="text-muted">{{ follow.follower.email }}</small>
                </div>
              </div>
            </li>
          {% else %}
            <li class="list-group-item">Aucun follower pour le moment</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
                
              </div>
              <div>
               <!-- Button trigger modal -->
<button type="button" class="fw-bold fs-5 btn" data-bs-toggle="modal" data-bs-target="#followingModal">
  {{ userFinded.getFollowingCount() }}
  <p class="small text-muted fs-6">Following</p>
</button>

<!-- Following Modal -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followingModalLabel">Following de {{ userFinded.firstName }} {{ userFinded.lastName }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Liste des personnes suivies -->
        <ul class="list-group">
          {% for following in userFinded.following %}
            <li class="list-group-item">
              <div class="d-flex align-items-center">
                <img src="https://via.placeholder.com/50" class="rounded-circle me-3" alt="Avatar">
                <div>
                  <h6 class="mb-0">{{ following.followed.firstName }} {{ following.followed.lastName }}</h6>
                  <small class="text-muted">{{ following.followed.email }}</small>
                </div>
              </div>
            </li>
          {% else %}
            <li class="list-group-item">Vous ne suivez personne pour le moment</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
              </div>
            </div>
          </div>
          <div class='followMessages'>
            {% for message in app.flashes('success') %}
                {{ toasts.toast('success', message) }}
            {% endfor %}
            {% for message in app.flashes('warning') %}
                {{ toasts.toast('warning', message) }}
            {% endfor %}
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5 text-body">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4 bg-body-tertiary">
                <p class="font-italic mb-1">Web Developer</p>
                <p class="font-italic mb-1">Lives in New York</p>
                <p class="font-italic mb-0">Photographer</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4 text-body">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
